 body {
            background: rgb(17, 32, 17);
        }
        #outer_form {
            background-image: linear-gradient(rgba(245, 245, 247, 0.7), rgba(197, 198, 202, 0.7)), url("/static/stjude_web/images/rosary-4978473.jpg");
            padding: 50px;
            border-radius: 5px;
            margin: 100px auto;
            width: 30%;
            font-size: 150%;
        }

        #log, #fgt {
            color: white;
            background: #012341;
            padding: 5px;
            margin-left: 5px;
            cursor: pointer;
        }
        #log:hover, #fgt:hover {
            opacity: 0.7;
        }
        #user_name:hover, #pwd:hover{
            opacity: 0.7;
        }
        #user_name, #pwd{
            width: 50%;
            padding: 2%;
        }