{% extends 'Base.html'%}
{% load static %}

    {% block extra_head %}
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>UNIVERSITY WEB DESIGN</title>

    <link href="{% static 'stjude_web/styles/STJUDEstyles.css' %}" rel="stylesheet">
    {% endblock %}

<!--body-->
{% block content %}

<section class="header">
    <marquee behavior="scroll" bgcolor="black" direction="" height="500%" loop="" scrollamount="10" stop()
             style="color: aliceblue;"
             width="100%"><h1>Welcome To St Jude Chaplaincy</h1></marquee>
    <nav>
        <a href="STJUDEWEB.html"><img src="{% static 'stjude_web/images/karu logo.png' %}"></a>
        <div class="nav-links">
            <ul>
                <li><a href="{% url 'login' %}">HOME</a></li>
                <li><a href="https://web.facebook.com/StJudeKarU/about">ABOUT</a></li>
                <li><a href="https://www.youtube.com/@stjudecatholicchaplaincyka6673/videos">ST JUDE SONGS</a></li>
                <li><a href="https://tubidy.mobi/search.php?q=catholic+church+songs">CATHOLIC SONGS</a></li>
                <li><a href="">GALLERY</a></li>
                <li><a href="https://63ee26ab5ba9d.site123.me/">DEPARTMENTS</a></li>
                <li><a href="">ANOUNCEMENT</a></li>
                <li><a href="https://catholic-daily-reflections.com/daily-reflections/">DAILY READING AND HOMILY</a></li>
                <li><a href="{% url 'register' %}">REGISTER</a></li>
                <li><a href="{% url 'login' %}">LOGIN</a></li>
            </ul>
        </div>
        <a href="STJUDEWEB.html"><img alt="" src="{% static 'stjude_web/images/st jude logo.png' %}"></a>
    </nav>

    <div class="text-box">
        <h1 title="This is the church where we cultivate the christian faith">St Jude Chaplainacy Karatina
            University</h1>
        <h3 style="color: burlywood;">We Cultivate The christian Faith</h3>
        <br>
        <br>
        <br>
    </div>
</section>

<section class="Activities">
    <h1>Activities in the Chaplaincy</h1>
    <p>St Jude Chaplaincy engages all Christians in strengthening the Faith through prayers, charity, socialization,
        and Holy Mass</p>

    <div class="row">
        <div class="Activities-col">
            <h3>Prayers</h3>
            <p>The small Christian community takes place every Monday
                And Wednesday, where the students meet to pray Rosary, novenas, and other prayers.</p>
        </div>

        <div class="Activities-col">
            <h3>Charity</h3>
            <p>The Chaplaincy takes part in helping needy students through the student-student initiative, and
                through the SCC, students get in touch with each other as a family.</p>
        </div>

        <div class="Activities-col">
            <h3>Eucharistic Mass</h3>
            <p>The Chaplaincy holds Holy Eucharistic Mass during the week and every Sunday.</p>
        </div>
    </div>
</section>

<script>

</script>

{% endblock %}
