 body{
            background: rgb(17, 32, 17);
        }
        #outer_form{
            background:linear-gradient(rgba(245, 245, 247, 0.7),rgba(197, 198, 202, 0.7)),url("/static/stjude_web/images/stjude2.jpg");
            /* background: white; */
            padding: 50px;
            size: 30%;
            width: 30%;
            border-radius: 5px;
            margin: 100px auto;
            /* font-size: larger; */

            /* border: solid gray 1px; */


        }


        #btn{
            color: white;
            background: #012341;
            padding: 5px;
            margin-left: 80px;
        }
        :hover{
            opacity:7px;
        }
        #lable:hover{
            opacity: 0.7;
        }