body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: #333;
    line-height: 1.6;
    height: 50vh; /* Fill the entire viewport height */
    background:linear-gradient(rgba(245, 245, 247, 0.7),rgba(197, 198, 202, 0.7)),url("/static/stjude_web/images/stjude2.jpg");
    background-size: cover; /* Fixed background size */
}

header {
    background-color: rgb(2, 50, 2);
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0; /* Stick to the top of the viewport */
    left: 0; /* Stick to the left of the viewport */
    width: 100%;
    z-index: 999; /* Ensure it's above other elements */
}

.logo {
    display: block;
    width: 200px; /* Adjust the size of the logo */
    height: 200px; /* Adjust the size of the logo */
    border-radius: 50%; /* Make it round */
    position: absolute;
    left: 30px; /* Adjust the distance from the left */
    top: 5px; /* Adjust the distance from the top */
}

header h1 {
    margin-left: 70px; /* Ensure the text doesn't overlap with the logo */
}

nav {
    background-color: #0f4c04;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 100px;
    width: 100%;
    z-index: 0; /* Ensure it's above other elements */
}

nav a {
    /* display: block; */
    color: #fff;
    text-decoration: none;
    margin:0 10px;
}

section {
    margin: 20px;
    padding: 20px;
}

h2 {
    color: #03a9f4;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #0288d1;
    color: #fff;
    padding: 10px;
    text-align: center;
}